@import '../node_modules/compass-mixins/lib/compass';

@font-face {
    font-family: "FuturaStdMedium";
    src: url('./fonts/FuturaStd/FuturaStd-Medium.otf');
}

@font-face {
    font-family: "FuturaStdBold";
    src: url('./fonts/FuturaStd/FuturaStd-BoldOblique.otf');
}

@mixin FuturaStdMedium($size) {
    font-size: $size;
    font-family: FuturaStdMedium;
}

@mixin FuturaStdBold($size) {
    font-size: $size;
    font-family: FuturaStdBold;
}

@mixin backgroundImage() {
    background-size: cover;
    background-repeat: no-repeat;
}

$width-page:1200px;
$height-footer-page:185px;
$height-content-page : 800px;
$min-page-md:676px;
$min-page-width-md: max-width 767px;

